[Unit]
Description=DHCP Listener app
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=dhcp_listener.sh

[Install]
WantedBy=multi-user.target
